/* 自定义代码框样式 */
.highlight {
    position: relative;
    background: #282a36; /* 这里的颜色要和你的 highlight style 匹配 */
    border-radius: 8px;
    margin: 1.5rem 0;
    padding-top: 30px; /* 为按钮留出空间 */

    // 添加 macOS 风格三圆点
    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 15px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ff5f56;
        box-shadow: 20px 0 0 #ffbd2e, 40px 0 0 #27c93f;
        z-index: 2;
    }
}

.highlight pre {
    border: none !important;
    border-radius: 0 0 8px 8px;
}